body{
	background-color: #170d0d;
}

h1{
	font-family: "Nunito Sans";
	color: #ffffff;
	text-shadow: 2px 2px 0px #000000;
}

h2{
	font-family: "Nunito Sans";
	color: #ffffff;
	text-shadow: 2px 2px 0px #000000;
}

p{
	
	font-family: "Nunito Sans"; 
	color: #ffffff; 
	text-shadow: 2px 2px 0px #000000;
}

#linkm{
	font-family: "Nunito Sans";
	text-shadow: 2px 2px 0px #000000;
	color: #ffffff;
	text-decoration: none;
	position: absolute;
	top: 16px;
	left: 6px;
}

#linki{
	font-family: "Nunito Sans";
	margin-left: -33px;
	text-shadow: 2px 2px 0px #000000;
	color: #ffffff;
	text-decoration: none;
}

#linka{
	font-family: "Nunito Sans";
	margin-left: -33px;
	text-shadow: 2px 2px 0px #000000;
	color: #ffffff;
	text-decoration: none;
}

#linkc{
	font-family: "Nunito Sans";
	margin-left: -33px;
	text-shadow: 2px 2px 0px #000000;
	color: #ffffff;
	text-decoration: none;
}

#linkr{
	font-family: "Nunito Sans";
	margin-left: -33px;
	text-shadow: 2px 2px 0px #000000;
	color: #ffffff;
	text-decoration: none;
}

#linkcrd{
	font-family: "Nunito Sans";
	margin-left: -33px;
	text-shadow: 2px 2px 0px #000000;
	color: #ffffff;
	text-decoration: none;
}

#Side {
	background-color: #417240;
	border-radius: 30px;
	height: 90px;
	width: 80px;
	padding: 40px;
	position: fixed;
	top: 100px;
	left: 20px;
}

#Br{
	position: fixed;
	background-color: #417240;
	border-radius: 30px;
	width:50px; 
	height:50px;
}

#sitetitle{
	position: relative;
	top: -15px;
	left: 12px;
	max-width: 100%
}

#info{
	position: relative;
	top: 80px;
	left: 42%;
	max-width: 100%;
	font-family: "Nunito Sans";
	color: #ffffff;
	text-shadow: 2px 2px 0px #000000;
}

#gen{
	position: absolute;
	top: 150px;
	left: 300px;
	
}

#sch{
	position: absolute;
	top: 265px;
	left: 300px;
}
	
#hob{
	position: absolute;
	top: 500px;
	left: 300px;
}

#face{
	position: absolute;
	top: 150px;
	left: 900px;
	width: 280px;
	border-radius: 30px;
	
}

#InfoContent{
	position: absolute;
	top: 205px;
	left: 320px;
	margin-left: 20px;
	margin-top: 0px;
	text-align: justified;
	width: 530px;
	line-height: 1.3;
	text-shadow: 2px 2px 0px #000000;
	font-size: 18px;
		
}

#edu{
	position: absolute;
	top: 320px;
	left: 320px;
	margin-left: 20px;
	margin-top: 0px;
	text-align: justified;
	width: 530px;
	line-height: 1.3;
	text-shadow: 2px 2px 0px #000000;
	font-size: 18px;
}

#ho{
	position: absolute;
	top: 555px;
	left: 320px;
	margin-left: 20px;
	margin-top: 0px;
	text-align: justified;
	width: 530px;
	line-height: 1.3;
	text-shadow: 2px 2px 0px #000000;
	font-size: 18px;
}

@media screen and (max-width: 425px)  {

	#Side{
		background-color: #417240;
		border-radius: 30px;
		line-height: 20px;
		height: 80px;
		width: 80px;
		padding: 40px;
		position: absolute;
		top: 150px;
		left: 20px;
	}

	#Br{	
		position: absolute;
		background-color: #417240;
		border-radius: 30px;
		width:50px; 
		height:50px;
	}
	
	#sitetitle{
		position: absolute;
		top: -16px;
		left: 12px;
		max-width: 100%;
	}

	#info{
		position: relative;
		top: 80px;
		left: 30%;
		max-width: fit-content;
		font-family: "Nunito Sans";
		color: #ffffff;
		text-shadow: 2px 2px 0px #000000;
		
	}

	#gen{
		position: absolute;
		top: 320px;
		left: 25px;
		
	}
	
	#sch{
		position: absolute;
		top: 490px;
		left: 25px;
	}
		
	#hob{
		position: absolute;
		top: 880px;
		left: 25px;
	}
	
	#face{
		position: absolute;
		top: 1100px;
		left: 60px;
		width: 280px;
		border-radius: 30px;
		
	}
	
	#InfoContent{
		position: absolute;
		top: 380px;
		left: 20px;
		margin-left: 20px;
		margin-top: 0px;
		text-align: justified;
		width: 300px;
		line-height: 1.3;
		text-shadow: 2px 2px 0px #000000;
		font-size: 18px;
			
	}
	
	#edu{
		position: absolute;
		top: 550px;
		left: 20px;
		margin-left: 20px;
		margin-top: 0px;
		text-align: justified;
		width: 320px;
		line-height: 1.3;
		text-shadow: 2px 2px 0px #000000;
		font-size: 18px;
	}
	
	#ho{
		position: absolute;
		top: 940px;
		left: 20px;
		margin-left: 20px;
		margin-top: 0px;
		text-align: justified;
		width: 300px;
		line-height: 1.3;
		text-shadow: 2px 2px 0px #000000;
		font-size: 18px;
	}
}